* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.header {
  border: 2px solid grey;
  padding: 15px;
}

.main-content{ 
  display: flex;
}

.city-sidebar {
  border: 2px solid grey;
  padding: 20px;
  width: 200px;
  min-width: 200px;
}

.city-selector, .post {
  cursor: pointer;
}

.featured-city {
  padding: 20px;
  border: 2px solid grey;
  flex-grow: 1;
}

.featured-city-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.featured-city-content {
  margin-right: 40px;
}

.post-buttons {
  display: flex;
  justify-content: flex-end;
}

.post-button {
  margin: 0 0 10px 10px;
  padding: 7px 10px;
  cursor: pointer;
}

.post {
  display: flex;
  flex-direction: row;
  border: 2px solid grey;
  padding: 15px;
}

.post-img {
  width: 80px;
  margin-right: 15px;
}

.post-title {
  margin-bottom: 8px;
}

.form-header {
  margin-bottom: 8px;
}

.form-group {
  display: flex;
  margin-bottom: 8px;
}

.form-label {
  width: 50px;
}