* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.header {
  border: 2px solid grey;
  padding: 15px;
}

.main-content{ 
  display: flex;
}

.city-sidebar {
  border: 2px solid grey;
  padding: 20px;
}

.city-selector, .post {
  cursor: pointer;
}

.featured-city {
  padding: 20px;
  border: 2px solid grey;
}

.featured-city-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.featured-city-content {
  margin-right: 40px;
}

.post {
  display: flex;
  flex-direction: row;
  border: 2px solid grey;
  padding: 15px;
}

.post-img {
  width: 80px;
  margin-right: 15px;
}